.cart{
  width: 400px;
  min-height: 70vh; 
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow-y: auto;
}
.cart .title{
 width: 100%;
 height: 50px;
 display: flex;
 align-items: center;
 padding: 0 1rem;
 font-size: 1.2rem;
 font-weight: 600;
 background-color:#f7f7f7 ;
}
.cart .close{
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.cart .close:hover{
  font-size: 2.5rem;
}
table {
  border:6px solid transparent;
 
  width: 100%;
  text-align: center;
  
}
table td, table th {
  border: 1px solid #948473;
  padding: 4px 4px;
}
table tbody td {
  font-size: 16px;
  background-color: #ff6f65;
  transition: all 0.4s ease-in-out;
}
table thead {
  background: #a20013;
 
}
table thead th {
  font-size: 17px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: center;
}
table thead th:first-child {
  border-left: none;
}
table tbody td:nth-child(2) {
  text-align: left;
  padding: 0  0 0 5px;
}
table tbody td:nth-child(3) {
  text-align: right;
}
table tbody td:nth-child(4) {
  font-size: 1.4rem;
  cursor: pointer;
  padding-top: 0.5rem;
}
table tbody td:nth-child(4):hover {
  background-color: #03bd19;
  color: #fff;
}
.total{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.total div{
  font-size: 1.2rem;
  font-weight: 600;
}
.checkout{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}
.checkout button{
  width: 100%;
  height: 38px;
  background-color:#db3a3a ;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.checkout button:hover{
  background-color: #03bd19;
  font-size:1.3rem ;
}
.cart-alert{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: #db3a3a;
  
}
@media (max-width:435px) {
  .cart{
    width: 320px;
  }
  
}