.payments{
  width: 400px;
  min-height: 80vh; 
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow-y: auto;
}
.payments .title{
 width: 100%;
 height: 50px;
 display: flex;
 align-items: center;
 padding: 0 1rem;
 font-size: 1.2rem;
 font-weight: 600;
 background-color:#f7f7f7 ;
}
.payments .close{
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.payments .close:hover{
  font-size: 2.5rem;
}