.pizza-id {
  width: 520px;
  min-height: 70vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
}
.pizza-id .img {
  width: 250px;
  height: 250px;
}
.pizza-id .img img {
  width: 100%;
  object-fit: cover;
}
.pizza-id .name,
.pizza-id .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pizza-id .close {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.pizza-id .close:hover {
  font-size: 2.5rem;
}
.pizza-id .operation-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pizza-id .add-cart button {
  width: 140px;
  height: 40px;
  border: 1px solid #db3a3a;
  font-size: 1.2rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.pizza-id .add-cart button:hover {
  color: #f0f8ff;
  background-color: #db3a3a;
}
@media (max-width: 550px) {
  .pizza-id {
    width: 320px;
    padding: 1rem;
  }
}
