.info-section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
  gap: 1rem;
  padding: 2rem 0;
}
.info-section a{
  text-decoration: none;
  color: black;
  border-bottom: 2px solid #db3a3a;
  transition: all 0.3s ease-in-out;
}
.info-section a:hover{
  font-size: 1.2rem;
  border-bottom: 2px solid #03bd19;
}
@media (max-width: 1135px) {
  .info-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:800px) {
  .info-section {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
}